body * {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.nav-bar {
    padding-left: 60px;
    padding-right: 60px;
    display: fixed;
    border: 1px solid black;
    top: 0;
    left: 0;
}

nav {
    height: 60px;
    background-color: grey;
    position: fixed;
    width: 100%;
}

nav ul {
    display:inline-block;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 30px;
}

nav a:hover {
    color: black;
}

body {
    background-color: teal;
    text-shadow: 1px 1px black;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

main {
    display: flexbox;
    flex-direction: column;
}

.main-pic {
    margin-top: 50px;
    border: 1px solid black;
    height: 200px;
    width: 175px;
    border-radius: 3px;
}

.cat-pic {
    margin-right: 30px;
    margin-bottom: 30px; 
    border: 1px solid black;
    border-radius: 2px;
    height: 300px;
    width: 400px;
    float: left;
}

.intro {
    margin: 50px;
}

.fur-babes {
    margin: 50px;
}

.fur-babes p {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
}